
/* CSS Reset */

html{ height: 100%; }
body,header,div,article,section,nav,footer,h1,h2,h3,h4,h5,h6,ul,li,fieldset,legend,p{ margin: 0; padding: 0; font-family: 'Barlow'; box-sizing: border-box;}
h1,h2,h3,h4,h5,h6,input,button{ font-weight: 14px; }
ul,li,ol{ list-style: none; }
a{ text-decoration: none; color: #fff; transition:0.5s; }
a:hover{ color: black }
fieldset{ border: none; }
img { vertical-align:top; }
table { border-collapse:collapse; }

.blind{ position: absolute; top: -9999px; } 

h3{ font-size: 33px; font-weight: 800; color: #001489;
	letter-spacing: -0.7px;
	padding-bottom: 50px; }


.skip_navigation a{ position: absolute; top:-9999px; }
.skip_navigation a:focus{ outline: 2px dashed hotpink;
	color: #fff;
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: #222;
	position: static;
	top: 0; z-index: 10000;}




/* Header */


#header{
	width: 100%; height: 140px;
	position: fixed; 
	z-index: 1000;
/*	border: 1px solid #000;*/
	background: none;
}

#header.active{ background: rgba(255, 255, 255, 0.7); }
.active .inner a{ color: #444; }
.active .top-icon>ul{ filter: brightness(10%); }

.ad{ background:#001489; height: 60px;
	width: 100%; margin: 0 auto;}

#header .ad a{ text-align: center; 
		font-weight: 700; font-size: 20px;
		display: block; width: 500px; margin: 0 auto;
		padding-top: 17px; }

#header .inner{ width: 95%; height: 40%;
		margin: 0 auto;
		display: flex; 
		justify-content: space-between;
		align-items: center;
		padding-top: 30px;
/*		border: 3px solid yellow;*/
		 }

#header h1{ width: 100px; }
#header a:hover{ opacity: 0.5; }

#header nav ul{  
	display: flex; justify-content: space-between;
	align-items: center; 
/*	border: 2px solid pink;*/
	
}

#header nav ul>li{ padding-right: 30px;
			padding-left: 30px;
				 }

#header nav ul>li>a{ font-weight: 600; font-size: 18px;
				letter-spacing: -0.5px }

.top-icon ul{ display: flex; 
	justify-content: space-between;
	transition: 0.5s;
	}

.top-icon li a{ width: 24px; padding: 10px; }
.top-icon .hambuger,nav>ul .del{ display: none; }
.hambuger img{ width: 24px; padding-top: 5px; }



/* visual */

.swiper {
      width: 100%;
      height: 50%;
    }

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
.swiper-slide .text-wrap{ position: absolute;
	bottom: 6%; left: 10%;
	color: #fff;  }

.text-wrap .line{ border-left: 8px solid #fff;
	padding-left: 35px; height: 80px;
	position: relative; left: -30px; top: 100px; }

.text-wrap div{ display: flex; position: relative; bottom: 3px; }
.text-wrap h2{ font-weight: 800; font-size: 68px; text-align: left; }
.text-wrap p{ font-size: 40; font-weight: 400; }
.text-wrap div p:nth-child(1){ padding-right: 10px; }
.text-wrap div p:nth-child(2){ 
	border-left: 3px solid #fff;
	padding-left: 10px; }

.swiper-wrapper div:nth-child(5) .text-wrap{
	color: #333; 
}
.swiper-wrapper div:nth-child(5) .line{ 
	border-left: 8px solid #222; }

.swiper-pagination-bullet { border-radius: 0px; width: 60px; height: 5px;
					background-color: rgba(255, 255, 255, 0.8);
					 }
.swiper-pagination-bullet-active{ border-radius: 0px; width: 60px; height: 5px; }


/*article All width 75%*/
#container{ width: 75%; margin: 0 auto; }


/* section01 : BUY */

#buy{ width: 100%; margin: 0 auto;
	margin-top: 180px; }

.buylist{ display: flex; justify-content: space-between; flex-wrap: wrap;}
.buylist li a{transition:0.5s;}
.buylist li{ width: calc(96%/4); position: relative; overflow: hidden; }
.buylist li img{ width: 100%; filter: blur(0); transition: 0.5s }
.buylist li:hover img{ filter: blur(5px); }
.buylist li:hover p{ color: #fff }
.buylist li p{ width: 200px; height: 40px; 
		font-size: 28px; font-weight: 700;
		text-align: center;
		position: absolute; 
		top: calc(50% - 20px); 
		left: calc(50% - 100px);
		color: rgba(0, 0, 0, 0);
		transition: 0.5s; }


/* section02 : catalog */

#catalog{ padding-top: 160px; }

#catalog img{ width: 100%; }
#catalog .inner{ position: relative; }
.catalog-text{ position: absolute;
		top: 35%; left: 6%; 
	}

.catalog-text p:nth-child(1){
	font-weight: 300; font-size: 28px; color: #fff;
}
.catalog-text p:nth-child(2){
	font-weight: 600; font-size: 54px; color: #fff;
	padding-bottom: 10px; 
}
.catalog-text button{ width: 100%; height: 40px;
	border-radius: 5px; font-weight: 500; font-size: 14px;
	color: #fff; background-color: #001489;
	border: none;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
	transition:0.5s }
.catalog-text button:hover{ background: #fff;
		color: #001489; font-weight: 600; }

/* news */

#news{ padding-top: 160px; }

.news-list{ display: flex; justify-content: space-between; }

.news-list li{ width: calc(97%/3); }
.news-list li>img{ width: 100%; }

.find{ padding-top: 59px; display: flex; justify-content: right; }
.find p{ font-weight: 800; color: #001489; padding-right: 5px; }

.n-con .text p:nth-child(1){ font-size: 22px; font-weight: 600; 
				padding-bottom: 16px; }

.n-con .text{ padding: 10px; padding-top: 18px; }
/* 유투브 */

#youtube{ padding-top: 160px; 
		padding-bottom: 200px;}

/* form */

#subscribe{ width: 100%; height: 600px; 
	background: url(../images/form-bg.jpeg);
	background-size : cover;
 	background-repeat : no-repeat;
  	background-position : center;
  	background-attachment : fixed;
  	position: relative;
}

#subscribe .inner{ width: 100%; 
	padding-top: 45px;
	padding-bottom: 45px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.35);
	backdrop-filter: blur(10px);
	position: absolute; top: 30%; }

.inner-con{ width: 75%; margin: 0 auto;
		display: flex; justify-content: space-between; }

.sub-text{ 	flex: 1; padding-left: 10%; }
.sub-text h4{ font-size: 28px; font-weight: 700; color: #001689;
		padding-bottom: 16px; }
.sub-text p{ color: #fff; font-size: 20px; font-weight: 400; }

fieldset{ flex:1; }
.sub-form{ padding-left: 5%; }
.sub-form input{ display: block;
	width: 80%; max-width: 380px;
	height: 45px; margin-bottom: 10px; padding-left: 15px;
	border: none; box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.3);
	border-radius: 5px;}
.sub-form button{ width: 84%; height: 45px;
	border-radius: 5px; font-weight: 500; font-size: 14px;
	color: #fff; background-color: #001489;
	border: none;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
	transition:0.5s }
.sub-form button:hover{ background: #606DAC;
		color: #fff;  }


/*footer*/

#footer{ background: #15171d; }

#footer .inner{ width: 75%; margin: 0 auto; }


.sitemap{ padding-top: 10%; padding-bottom: 5%;
		display: flex; justify-content: space-between; }

.sitemap img{ width: 120px; }
.sitemap li>p{ font-weight: 800; font-size:18px;
		color: #fff; padding-bottom: 30px; 
}
.sitemap li>ul a{ font-weight: 300; font-size: 14px;
				transition:0.5s; }
.sitemap li>ul a:hover{ color: #fff; opacity: 0.3; }

.copy{
	padding-bottom: 10%;
	width: 100%;
	margin: 0 auto;
	font-weight: 300; font-size: 14px; 
	color: rgba(255,255,255, .4);
}

